body
{
color: #303030;
background-image: url(cream_dust.png);
}

a {
    color: #303030;
    text-decoration: none;
}

a:hover 
{
     color:#cccccc; 
     text-decoration:none; 
     cursor:pointer;  
}

h1
{
font-family: 'Manrope', sans-serif;
  
    font-size: 65px;
    vertical-align: top;
    text-align: center;
}

.navigation
{
    font-size: 65px;   
    float: right;
}


.logo
{
    float: left;
}

.slogan
{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    text-align: center
}
#bottomline
{
    font-size: 20px;
    color: fff;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.kontakt
{  
  font-size: 50px; 
  color: #363534;
  font-family: 'Open Sans', sans-serif;
}

a.kontaktlink
{
    text-decoration:none;
    color: #363534;
}
.kontakt a:hover
{
    color: #cccccc;  
}
h2
{
    font-size: 40px;
    font-family:'Roboto', sans-serif;
    margin-top: 50px;
    text-align: center
}
.thanks
{
     font-size: 25px;
    font-family:'Roboto', sans-serif;
    margin-top: 50px;
    text-align: center
}